@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #242423;
    --dark: #495057;
    --grey: #ced4da;
    --light: #F8F9FA;
    --blue: #345995;
    --red: #ca1551;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    font-weight: 400;
    /* background-color: var(--light); */
}

li{
    list-style: none;
}

a{
   text-decoration: none; 
}

.title{
    text-transform: capitalize;
    margin: 0 0 1rem 2rem ;
    background-color: var(--black);
    width: fit-content;
    color: var(--light);
    padding: 0.1rem 0.4rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}