.jersey__page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.jersey__page .popular__cont .jerseys__container{
    height: 255px;
    overflow: hidden;
}


.jersey__container{
    height: 60vh;
    width: 100vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jersey__container img{
    width: 33%;
    height: 80%;
    object-fit: cover;
    border: none;
}

.jersey__container .jersey__info{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.sidebar .asg__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 35vh;

}

.sidebar .asg__link img{
    width: 100%;
    height: 80%;
    object-fit: fill;
    border: solid 2px white;
    background-color: white;
}

.sidebar .asg__link h4{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background-color: white;
    text-transform: capitalize;
    border-top: 1px solid var(--black)
}

.jersey__info h3{
    color: var(--dark);
    margin-top: 1rem;
}

.jersey__info small{
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;
}

.jersey__info .find__btn{
    width: fit-content;
    margin-top: 1rem;
    border: none;
    outline: none;
    background-color: var(--black);
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.jersey__info .find__btn.hide{
    display: none;
}

.jersey__info .find__btn a{
    color: white;
}

@media(max-width:800px){
    .sidebar{
        display: none;
    }
}

@media(max-width:550px){
    .jersey__container{
        flex-direction: column;
        justify-content: flex-start;
        height: 70vh;
    }

    .jersey__container img{
        width: 100%;
        height: 60%;
        object-fit: contain;
    }

    .jersey__container .jersey__info{
        width: 100%;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .jersey__info .info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }

    .info h3{
        margin: 0;
    }

    .info small{
        margin-left: 1rem;
    }
}