.modal__container{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(100, 100, 100, 100.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container--close{
    display: none;
}

.modal__icon{
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 1rem;
}