.navbar{
    width: 100vw;
    max-width: 1200px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar .logo{
    font-size: 2rem;
    color: var(--grey);
}

.social .social__icon{
    color: var(--grey);
    font-size: 1.2rem;
    margin: 0.4rem;
}

.menu{
    display: none;
    z-index: 99;
}

@media(max-width:550px){
    .social{
        display: none;
    }
    .menu{
        display: flex;
        z-index: 99;
    }

    .menu{
        cursor: pointer;
    }

}