.navbar{
    width: 100vw;
    max-width: 1200px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

.navbar .logo{
    font-size: 2rem;
    color: var(--dark);
}


.menu{
    display: flex;
    z-index: 99;
    cursor: pointer;
}

.menu__icon{
    font-size: 1.5rem;
}

/* @media(max-width:550px){

} */