.popu__jerseys--cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 1rem;
    height: 270px;
    overflow: hidden;
}

@media(max-width:800px){
    .popu__jerseys--cont{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:550px){
    .popu__jerseys--cont{
        grid-template-columns: repeat(2, 1fr);
    }
}
