.popular__cont{
    width: 100vw;
    max-width: 1000px;
    margin-top: 1rem;
}

.popular__cont .jerseys__container{
    height: 500px;
    overflow: hidden;
}

@media(max-width:550px){
    .popular__cont .jerseys__container{
        height: 515px;
        overflow: hidden;
    }
}
