.team__page--cont{
    margin-top: 11vh;
    min-height: 80vh;
}
/* Filter Button */
.filter{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
}

.filter input{
    -webkit-appearance: none;
    display: none;
}

.filter small{
    font-size: 0.9rem;
}

.filter label{
    margin: 0 10px;
    height: 30px;
    width: 60px;
    border: solid 1px var(--black);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.filter label .filtered{
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    height: 86%;
    width: 45%;
    background-color: var(--black);
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

/* toggle class for JS */
.label.active .filtered{
    left: 28px;
    background-color: var(--red);
}

/* Jerseys Container */
.jerseys__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 1rem;
}

.jerseys__container.hide{
    display: none;
}

.jersey__link--info,
.jerseys__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jersey__link{
    width: 100%;
    min-width: 150px;
    background-color: white;
    border-radius: 0.4rem;
    /* border: solid 1px hotpink; */
}

.jerseys__info h3{
    font-size: 0.9rem;
    max-width: 80%;
    text-align: center;
    color: var(--dark);
    text-transform: capitalize;
    margin: 0.5rem 0;
}

img{
    height: 200px;
    margin: 0 1rem;
    padding-top: 1rem;
    border-bottom: 4px solid var(--dark);
}

@media(max-width:800px){
    .jerseys__container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:550px){
    .jerseys__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

