.jerseys__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 0 1rem;
    /* border: solid 1px blueviolet; */
}

.jersey__link--info,
.jerseys__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jersey__link{
    width: 100%;
    min-width: 150px;
    background-color: white;
    border-radius: 0.4rem;
    /* border: solid 1px hotpink; */
}

.jerseys__info h3{
    font-size: 0.9rem;
    max-width: 80%;
    text-align: center;
    color: var(--dark);
    text-transform: capitalize;
    margin: 0.5rem 0;
}

img{
    height: 200px;
    margin: 0 1rem;
    padding-top: 1rem;
    border-bottom: 4px solid var(--dark);
}

@media(max-width:800px){
    .jerseys__container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:550px){
    .jerseys__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

