.teams__btn--container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1rem;
}

.team__name--btn{
    margin: 1rem;
    background-color: var(--black);
    color: white;
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.team__name--btn:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    left: -6px;
    top: 0;
    background-color: var(--black);
    transform: skew(22deg);
    z-index: -11;
}
.team__name--btn:after{
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    right: -6px;
    top: 0;
    background-color: var(--black);
    transform: skew(22deg);
    z-index: -11;
}

@media(max-width:700px){
    .teams__btn--container{
        grid-template-columns: repeat(8, 1fr);
    }
}

@media(max-width:550px){
    .teams__btn--container{
        grid-template-columns: repeat(3, 1fr);
    }
}