.teams__btn--container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1rem;
}

.team__name--btn{
    margin: 1rem;
    /* width: fit-content; */
    /* height: 22px; */
    background-color: var(--black);
    color: white;
    padding: 0.1rem 0.4rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

@media(max-width:700px){
    .teams__btn--container{
        grid-template-columns: repeat(8, 1fr);
    }
}

@media(max-width:550px){
    .teams__btn--container{
        grid-template-columns: repeat(3, 1fr);
    }
}